{% extends './layout.html' %}

{% block content %}
    <div class="wrapper">
        <div class="logo"></div>
        <h2 class="title">steamer-koa</h2>
        <div class="text">Simple Koa模板</div>
        <div id="user" class="text"></div>
        <div class="link">
            <a class="icon icon-github" href="https://github.com/steamerjs/steamer-koa" target="_blank" title="Github"></a>
            <a class="icon icon-docs" href="https://steamerjs.github.io/" target="_blank" title="文档"></a>
            <a class="icon icon-author" href="https://github.com/lcxfs1991" target="_blank" title="作者"></a>
        </div>
    </div>
	<script src="/common/js/zepto.min.js"></script>
    <script>
        $.ajax({
            type: 'POST',
            url: '/api/',
            data: {
                name: 'steamer'
            },
            dataType: 'json',
            timeout: 3000,
            success: function(data){
                $('#user').text(data.name + ' visits at ' + data.now);
            },
            error: function(xhr, type){
                console.log(xhr, type);
            }
        });
    </script>
{% endblock %}
